@charset "UTF-8";
/* CSS Document */

/* reset */
ol, ul {
	list-style: none;
}



/* global */
.navbar {
	background-color: #000;
}
.topMargin {
	margin-top:50px;
}

/* Top */
.topBackground {
	background-image: url(http://www.goodsamcamping.com.s3.amazonaws.com/test/DestinationDeals/images/DestinationDeals_2400x600.jpg);
	background-size: 300px 100px;
	background-size: cover;
	height: 225px;	
}

/* mainContent */
.introText {
	margin: 30px 0 10px 0;
	padding: 15px;
	border: solid #E0E0E0 1px;
}